/* header */
.header{
    width: 100%;
    height: 60px;
    background-color: #FFB400;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
  }
  .nav-link{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
  }
  .nav-link li{
    list-style-type: none;
  }
  .nav-links{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
   
  }
  .nav-links:hover{
    text-decoration: underline;
    
  }
  /* responsive  */
  @media (max-width:640px) {
    .header{
      height: 80px;
      flex-direction: column;
    }
    .logo{
      padding-left: 0px;
      font-size: 30px;
    }
    
    .nav-link{
      padding-top: 0px;
    }
    .nav-links{
      font-size: 15px;
      
    }
  
  } 
  /* header completed */
  